* {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}
html {
  background: #ece9e6;
  background: linear-gradient(to top, #ece9e6, #fff);
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
html body {
  margin: 0;
  height: 100%;
  width: 100%;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}
html body h1 {
  text-align: center;
  padding: 2rem 0 1rem;
  margin: 0;
  color: #373f51;
}
html body h6 {
  font-size: 1.2rem;
  margin: 0;
  font-weight: 300;
}
html body p {
  margin-bottom: 2rem;
}
.container {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 3rem;
  padding: 2rem 4rem 4rem;
}


.container .wrapper {
  transform: skew(-10deg);
  transition: 0.25s;
}
.container .wrapper:before {
  content: '';
  left: 0;
  top: 0;
  height: calc(100% - 10px);
  width: calc(100% - 10px);
  border-radius: 40px;
  opacity: 0;
  border: 2px solid #ece9e6;
  position: absolute;
  z-index: -1;
  transition: 0.5s 0.05s;
}
.container .wrapper:hover:before {
  opacity: 1;
  transform: translateY(1.5rem) translateX(1.5rem);
}
.container .wrapper:nth-child(1) .card:after {
  content: '';
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url("images/p-29.jpg");
  background-size: cover;
  background-color: #373f51;
  background-blend-mode: screen;
  transform: skew(10deg) scale(1.2);
  transition: 0.25s;
}
.container .wrapper:nth-child(2) .card:after {
  content: '';
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url("images/p-4.jpg");
  background-size: cover;
  background-color: #373f51;
  background-blend-mode: screen;
  transform: skew(10deg) scale(1.2);
  transition: 0.25s;
}
.container .wrapper:nth-child(3) .card:after {
  content: '';
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url("images/p-5.jpg");
  background-size: cover;
  background-color: #373f51;
  background-blend-mode: screen;
  transform: skew(10deg) scale(1.2);
  transition: 0.25s;
}
.container .wrapper:nth-child(4) .card:after {
  content: '';
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url("images/p-6.jpg");
  background-size: cover;
  background-color: #373f51;
  background-blend-mode: screen;
  transform: skew(10deg) scale(1.2);
  transition: 0.25s;
}
.container .wrapper:nth-child(5) .card:after {
  content: '';
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url("images/p-7.jpg");
  background-size: cover;
  background-color: #373f51;
  background-blend-mode: screen;
  transform: skew(10deg) scale(1.2);
  transition: 0.25s;
}
.container .wrapper:nth-child(6) .card:after {
  content: '';
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url("images/p-8.jpg");
  background-size: cover;
  background-color: #373f51;
  background-blend-mode: screen;
  transform: skew(10deg) scale(1.2);
  transition: 0.25s;
}

.container .wrapper:nth-child(7) .card:after {
  content: '';
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url("images/p-9.jpg");
  background-size: cover;
  background-color: #373f51;
  background-blend-mode: screen;
  transform: skew(10deg) scale(1.2);
  transition: 0.25s;
}
.container .wrapper:nth-child(8) .card:after {
  content: '';
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url("images/p-10.jpg");
  background-size: cover;
  background-color: #373f51;
  background-blend-mode: screen;
  transform: skew(10deg) scale(1.2);
  transition: 0.25s;
}
.container .wrapper:nth-child(9) .card:after {
  content: '';
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url("images/p-11.jpg");
  background-size: cover;
  background-color: #373f51;
  background-blend-mode: screen;
  transform: skew(10deg) scale(1.2);
  transition: 0.25s;
}
.container .wrapper:nth-child(10) .card:after {
  content: '';
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url("images/p-12.jpg");
  background-size: cover;
  background-color: #373f51;
  background-blend-mode: screen;
  transform: skew(10deg) scale(1.2);
  transition: 0.25s;
}
.container .wrapper:nth-child(11) .card:after {
  content: '';
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url("images/p-13.jpg");
  background-size: cover;
  background-color: #373f51;
  background-blend-mode: screen;
  transform: skew(10deg) scale(1.2);
  transition: 0.25s;
}

.container .wrapper:nth-child(12) .card:after {
  content: '';
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url("images/p-14.jpg");
  background-size: cover;
  background-color: #373f51;
  background-blend-mode: screen;
  transform: skew(10deg) scale(1.2);
  transition: 0.25s;
}
.container .wrapper:nth-child(13) .card:after {
  content: '';
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url("images/p-15.jpg");
  background-size: cover;
  background-color: #373f51;
  background-blend-mode: screen;
  transform: skew(10deg) scale(1.2);
  transition: 0.25s;
}
.container .wrapper:nth-child(14) .card:after {
  content: '';
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url("images/p-16.jpg");
  background-size: cover;
  background-color: #373f51;
  background-blend-mode: screen;
  transform: skew(10deg) scale(1.2);
  transition: 0.25s;
}
.container .wrapper:nth-child(15) .card:after {
  content: '';
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url("images/p-17.jpg");
  background-size: cover;
  background-color: #373f51;
  background-blend-mode: screen;
  transform: skew(10deg) scale(1.2);
  transition: 0.25s;
}
.container .wrapper:nth-child(16) .card:after {
  content: '';
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url("images/p-18.jpg");
  background-size: cover;
  background-color: #373f51;
  background-blend-mode: screen;
  transform: skew(10deg) scale(1.2);
  transition: 0.25s;
}
.container .wrapper:nth-child(17) .card:after {
  content: '';
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url("images/p-19.jpg");
  background-size: cover;
  background-color: #373f51;
  background-blend-mode: screen;
  transform: skew(10deg) scale(1.2);
  transition: 0.25s;
}
.container .wrapper:nth-child(18) .card:after {
  content: '';
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url("images/p-20.jpg");
  background-size: cover;
  background-color: #373f51;
  background-blend-mode: screen;
  transform: skew(10deg) scale(1.2);
  transition: 0.25s;
}
.container .wrapper:nth-child(19) .card:after {
  content: '';
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url("images/p-21.jpg");
  background-size: cover;
  background-color: #373f51;
  background-blend-mode: screen;
  transform: skew(10deg) scale(1.2);
  transition: 0.25s;
}
.container .wrapper:nth-child(20) .card:after {
  content: '';
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url("images/p-22.jpg");
  background-size: cover;
  background-color: #373f51;
  background-blend-mode: screen;
  transform: skew(10deg) scale(1.2);
  transition: 0.25s;
}
.container .wrapper:nth-child(21) .card:after {
  content: '';
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url("images/p-23.jpg");
  background-size: cover;
  background-color: #373f51;
  background-blend-mode: screen;
  transform: skew(10deg) scale(1.2);
  transition: 0.25s;
}

.container .wrapper:nth-child(22) .card:after {
  content: '';
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url("images/p-24.jpg");
  background-size: cover;
  background-color: #373f51;
  background-blend-mode: screen;
  transform: skew(10deg) scale(1.2);
  transition: 0.25s;
}
.container .wrapper:nth-child(23) .card:after {
  content: '';
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url("images/p-25.jpg");
  background-size: cover;
  background-color: #373f51;
  background-blend-mode: screen;
  transform: skew(10deg) scale(1.2);
  transition: 0.25s;
}
.container .wrapper:nth-child(24) .card:after {
  content: '';
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url("images/p-26.jpg");
  background-size: cover;
  background-color: #373f51;
  background-blend-mode: screen;
  transform: skew(10deg) scale(1.2);
  transition: 0.25s;
}



body { padding-top: 70px; }
.jumbotron {
  color: #2c3e50;
  background: #ecf0f1;

}
.navbar-inverse {
  background: #2c3e50;
  color: white;
}
.navbar-inverse .navbar-brand, .navbar-inverse a{
  color:white;
}
.navbar-inverse .navbar-nav>li>a {
  color: white;
} 





@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,300,700);

* {
  font-family: Roboto;
}

section {
  width: 100%;
  display: inline-block;
  background: #ccc;
  height: 60vh;
  text-align: center;
  font-size: 22px;
  font-weight: 700;
  text-decoration: underline;
}

.footer-distributed {
  background-color: #292c2f;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: normal 16px sans-serif;
  padding: 45px 50px;
}

.footer-distributed .footer-left p {
  color: #8f9296;
  font-size: 14px;
  margin: 0;
}
/* Footer links */

.footer-distributed p.footer-links {
  font-size: 18px;
  font-weight: bold;
  color: #ffffff;
  margin: 0 0 10px;
  padding: 0;
  transition: ease .25s;
}

.footer-distributed p.footer-links a {
  display: inline-block;
  line-height: 1.8;
  text-decoration: none;
  color: inherit;
  transition: ease .25s;
}

.footer-distributed .footer-links a:before {
  content: "·";
  font-size: 20px;
  left: 0;
  color: #fff;
  display: inline-block;
  padding-right: 5px;
}

.footer-distributed .footer-links .link-1:before {
  content: none;
}

.footer-distributed .footer-right {
  float: right;
  margin-top: 6px;
  max-width: 180px;
}

.footer-distributed .footer-right a {
  display: inline-block;
  width: 35px;
  height: 35px;
  background-color: #33383b;
  border-radius: 2px;
  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;
  margin-left: 3px;
  transition:all .25s;
}

.footer-distributed .footer-right a:hover{transform:scale(1.1); -webkit-transform:scale(1.1);}

.footer-distributed p.footer-links a:hover{text-decoration:underline;}



@media (max-width: 600px) {
  .footer-distributed .footer-left, .footer-distributed .footer-right {
    text-align: center;
  }
  .footer-distributed .footer-right {
    float: none;
    margin: 0 auto 20px;
  }
  .footer-distributed .footer-left p.footer-links {
    line-height: 1.8;
  }
}

















.container .wrapper:hover {
  transform: translateX(-1rem) translateY(-1rem) skew(-10deg);
}
.container .wrapper:hover .card {
  box-shadow: 0.5rem 0.5rem 1rem rgba(0,0,0,0.1);
}
.container .wrapper:hover .card:after {
  background-blend-mode: normal;
}
.container .wrapper:hover .card .fal {
  bottom: 4rem;
  background-color: rgba(255,255,255,0.8);
}
.container .card {
  background-color: #fff;
  border-radius: 40px;
  height: 15rem;
  padding: 2rem;
  position: relative;
  overflow: hidden;
}
.container .card:after {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.container .card .fal {
  position: absolute;
  bottom: -1rem;
  right: 3rem;
  border-radius: 100%;
  padding: 1rem;
  font-size: 1.5rem;
  color: #373f51;
  z-index: 1;
  transform: skew(10deg) translateY(50%);
  text-align: center;
  transition: 0.25s;
}